.title{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}
.title-inv{
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    opacity: 0.4;
}
.links{
    font-size: 1.25rem;
    background-color: lightgrey;
    padding: 1rem;
    
    align-items: center;
}
.links > .link{
    color: grey;
    text-decoration: none;
    padding: 1rem;
    opacity: 0.75;
    padding-left: 2rem;
    padding-right: 2rem;
}
.link:hover{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    /* font-size: 1.5rem; */
}
h3{
    margin: 0;
}
.logo{
    margin: 1rem;
}