.photo{
    border-radius: 50%;
    height: 30rem;
    box-shadow: 0rem 0rem 1.5rem 1.5rem lightgrey;
    margin-left: 5rem;
}
.title{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    /* position: relative; */
    /* top: 50%;   */
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    /* transform: translateY(-50%);  */
}
.header{
    display:flex;
    margin: 5rem;
    
}
.text {
    padding: 10rem;
    font-size: 1.15rem;
    color: grey;
}
.anim{
    animation: typewriter 1s steps(16) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 6em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(0, 0, 0, 0.5);}
    to{border-right-color: transparent;}
  }